body {
      user-select: none;
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #fff;
      overflow: hidden;
      cursor: pointer;
      background: linear-gradient(135deg, rgb(242, 65, 65), #660101,#500104);
     
      background-size: 400% 400%;
      /* animation: gradient 12s ease infinite; */
    }

    @keyframes gradient {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

    header {
      position: absolute;
      top: 0;
      width: 100%;
      background:white;
      color:#d62839;
      padding: 1rem;
      text-align: center;
      font-size: 1.5rem;
      
      font-weight: bold;
      letter-spacing: 0px;
    }

    .subheading {
      font-size: 1.2rem;
      font-weight: 400;
      opacity: 0.85;
      margin-bottom: 1rem;
      text-shadow: 1px 1px 6px rgba(0,0,0,0.3);
    }

    .tip {
      font-size: 3rem;
      font-weight: bold;
      margin: 1.2rem 0;
      /* text-shadow: 2px 2px 8px rgba(0,0,0,0.4); */
      transition: opacity 0.6s ease;
      padding: 0 1rem;
      max-width: 90%;
      user-select: none;
    }

    .call-btn {
      display: inline-block;
      width: 350px;
      background:white;
      color: #d62839;
      font-size: 1.6rem;
      font-weight: bold;
      padding: 15px 25px 20px 15px;
      border-radius: 50px;
      text-decoration: none;
      margin-top: 1rem;
      box-shadow: 0 0 20px rgba(214, 40, 57, 0.8);
      transition: all 0.3s ease;
    }

  
    .call-btn:hover {
      background: #a4161a;
      color:white;
      transform: scale(1.08);
      box-shadow: 0 0 28px rgba(214, 40, 57, 1);
    }

    footer {
      position: absolute;
      bottom: 1rem;
      width: 100%;
      text-align: center;
      font-size: 0.9rem;
      opacity: 0.8;
      text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    }